name: Test
on:
  push:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      OUTPUTDIR: coverage
      COVERPROFILE: coverage.out
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Run tests
        run: make test

      - name: Upload coverage reports to Codecov
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5.4.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ env.OUTPUTDIR }}/${{ env.COVERPROFILE }}
          flags: unittests
          disable_search: true
          verbose: true