name: Lint

on:
  push:
    branches: [master]
  pull_request:

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: go.mod

      # Golangci-lint action is flaky, so we run it manually
      - name: Run golangci-lint
        shell: bash
        run: |
          go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@v2.1.2
          make lint